<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Title</title>
</head>
<body id="body">
<div id="loading">
<div class="circle"></div>
<div class="circle1"></div>
</div>
<div id="wrapper">
<h1>Hello World</h1>
</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
    setTimeout(
  function() 
  {
      $("#wrapper").show(600);

document.getElementById("loading").style.display='none';  }, 5000);
});
</script>
</html>